.list-container {
    width: 50%;
    background-color: rgb(140, 140, 140);
    padding: 15px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
}